.middle {
    max-width:860px;
    margin: 0px auto;
}

#B1 {
    
    color: aqua
}
#menu {
    text-align: center;
    list-style: none;
    background-color: beige;
    margin: 0px auto;
    max-width: 100%;
}
#menu > li  {
    text-align: center;
    display: inline-block;
}
