.middle {
    max-width:860px;
    margin: 0px auto;
}

#B1 {
    
    color: aqua
}
#menu {
    text-align: center;
    list-style: none;
    background-color: beige;
    margin: 0px auto;
}
#menu > li  {
    text-align: center;
    display: inline-block;
}
h1{
    font-size :24px;
    text-align:center;
}
p{
    font-size: 16px;
    line-height: 10px;
    margin: 0px auto;
}
.btn{
	background-color: #aaffdd;
	line-height: 30px;
    text-align: center;
    margin: 5px auto;
}
