.middle {
    width:1024px;
    margin: 0px auto;
}

#B1 {
    
    color: aqua
}
#menu {
    text-align: center;
    list-style: none;
    background-color: beige;
    height: 16px;
    margin: 0px 0px;
    padding: 0px;
}
#menu > li  {
    text-align: center;
    display: inline-block;
}
h1{
    font-size :24px;
    text-align:center;
}
p{
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
.btn{
	background-color: #aaffdd;
    text-align: center;
    margin: 0px auto;
}
.footer
{
    font-size: 14px;
    text-align:center;
    background-color: darkolivegreen;
}

.content {
    background:darkkhaki;
    margin: 0px;
}
